sudo: required
language: java
services:
- docker
before_install:
- mkdir /tmp/build
- docker pull qcifengineering/redbox-builder
- docker run -v /tmp/build:/build -e "CLONEPATH=https://github.com/the-fascinator-contrib/plugin-harvester-skos.git"
  qcifengineering/redbox-builder
install: true
script: true
after_success:
- docker run -v /tmp/build:/build -e "SONATYPE_USERNAME=$SONATYPE_USERNAME" -e "SONATYPE_PASSWORD=$SONATYPE_PASSWORD"
  qcifengineering/redbox-builder /bin/bash -c "cd build/src;mvn --settings /m2_repo/travis-settings.xml
  -Dmaven.repo.local=/m2_repo -DskipTests=true deploy"
env:
  global:
  - secure: FxX0EF1giEliQkFEsDPxr8m5eoKzvMcnwhnjaa0TtskiemD/NxLbBrA/YjvJII7OquGO2/sYs8Zu2uHMeKzz5Q9uZ9fZTfkjhqgWKSTu5frbtOUgPISNstmmZ0pS5voE9gNc2sNHCQ/7bEYwBmiWkUoSwSAlN9uWxEXy7shXCfci1HTq4Fk1YV+VHnpB62I4sJ0rEZDfd+JM6YplvPdPu2LCxEPALOfJZ9xWY3cmn/apQYGklXoQ20MSgW5340jEsc3tIBg7MGMd1srLmCDKPgl/KxbWNFhDI6xpyYVnOpbasip9uuXOeKdwTau0HYuZp1M6W+1l5pw2dFy0dtO/a15KGFzF3ypurfR8txSGXtt4XuzbKyFRXWC+YLFordseuzKC4ISEIn+qZ97bouxQAuQLv0hUlphSiFWGYm1fqbu2VRA5DZA3GRPsMRce2DSz1XSeVHzrSPavHp0SErOGd0WwvHEJuHYA4oZS67XwfIRCqeVXou4GiO75PE/O70vAVAeK0A1FwbngLp+AJzSzJo2aGYNgLFoqdOFWyZmYyQm6r4zdK8Yk3uWC+OLbVYzpf8HWTM25QmXeuQcMreCWmgjlZ1z6f72tBMc+dEcRPftOyLZNZfet9qvDildYe9zmuai34ZAXqrULOw3/KAU8rPDl+ehybhTd4XGJ/iMs6pk=
  - secure: BIo3t5kHKiylpsuo3IpLWJOtDkQUHd2kWOQBm1SeAo6iIM3761FVkiTw9raHiOuiwXt2mh9Q+V6gBmG/yeEqMkyuEaxDE3QTLHA82nEnnFPT0ll7ESiJDaWetxhsTqeSjcYAmAhh1/oYs1xTY/eq83nmXzHauWFnjffMTje+b37ZS94RRF+6Gp82L+Y68d4XU0SY3dxuq966XfNYgL9tYms4AgZhbgfsWRKtQrcNmUDR9oimKr3r4UBDRP+F3Leifiwvr8XXS5jt5n4ZuUuOYoKAyU6phRDFXsMpKoQLgC7aXt9HsDprOqH7Zs7UELjJrV47+DodJnW18ExR1MdaC8bS+jPfAA+LRdTjT8F1Sf9xgN9eTCOpqndsWfHg8da8ocua1/orNraPUV1fRP3Sg9mcUpZzh3sXnM1oBC5TeTdn74USfn6OOWYSbDWvvY9CmebneaPzYsbUOEUMsZkZy7jpxGpcUYIAqaDjpo6XEGv88RV69elty6oOg2orrfXWyu5ohMlxzAsNl66T2YbdpG05Fp1sTGtEJPKk0xKgl2EvDZN2+EgkvZRHvbralJ02pup3BXf/1DfG5EdMHm0hV61BEuaEuvlRQC2rA4BOaUqgoWWN2dsrVWCB9nRM1OdS1WtR4pwn4nOzNI/knNe7DrrdX3kkebZe9Uftu1IidgE=
